
/*

Styles used for labels and input fields in boot strap columns

*/

.row label {
  margin-top: 1.5em;
  vertical-align: middle;
  text-align: right;
}

.row input {
  margin-top: 1em;
  padding: 0.35em;
  border-radius: 4px;
  width:100%;
  border: 1px solid lightgray;
}


footer{
  background-color: #DC143C;
  color: white;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 5px;
}

.chatbox {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 20%;
  background-color: white;
  color: black;
  z-index: 10;
}

.messages {
  max-height: 50vh; 
  padding: 10px;
  overflow: auto; 
}

.message {
  display: flex;
  margin-bottom: 10px;
  overflow: auto; 
}

.received p {
  background-color: #f1f0f0;
  word-wrap: break-word; 
}

.sent p {
  background-color: #0b93f6;
  color: #fff;
  word-wrap: break-word; 
}


.formChat {
  display: flex;
  align-items: center;
}

input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  border: none;
}

button[type="submit"] {
  padding: 10px;
  background-color: #0b93f6;
  color: #fff;
  border: none;
  cursor:pointer;
}
#collapse{
  cursor: pointer;
}

body{
  background-color: #212529;
  color: white;
}

#seats{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.ticket{
border-color: #fff;
border-style: solid;
width: 80%;
margin: 5%;
padding: 5px;
display: grid;
grid-template-columns: 1fr 1fr;
}
.ticket div{
  max-width: fit-content;
}
.ticket h5{
  max-width: fit-content;
}

.row-cinema{
 margin: 10px;
 max-width: min-content;
}
.seat{
  text-align: center;
  margin: 10px;
  width: fit-content;
  border-style:solid;
  background-color: green;
}

#showings{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 100%;
}
.cinema-header{
  display: flex;
  justify-content: center;
}
.showing-seats{
  display: grid;
  grid-template-columns: 80% 20%;
}
#create-cinema li{
margin: 10px;
}
#tbody{
  color: #ccc;
  font-size: 12px;
}

th{color: #ccc;}
